@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-image: url("https://i.pinimg.com/originals/da/df/4d/dadf4d79d4781d17586550e8608aa2de.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: navy;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://www.shutterstock.com/image-vector/underwater-world-scene-ocean-floor-600nw-2133330717.jpg");
  background-size: 1000px 600px;
  border-radius: 300px;
  border: 5px solid white;
}



